<%const age = 22%>
<% const str = '<h1>Badman vs Miracle</h1>'%>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">     
    </head>
    <body>
            <%- include('../Element/header') %>
            <h1>Miracle</h1> 
            <%-str%><!--      dấu trừ sẽ chuyển cac3 thẻ html trong biến const str -->
            <h2>hello <%=name%></h2>    
            <img width="100" height="100" src="a.jpg">  
            <%- include('../Element/footer') %>
            </footer>')
            
    </body>
</html>