<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>  
        <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="text" name="txtName" placeholder="enter name"/>
                <br><br>
                <input type="file" name="avatar"/>
                <br><br>
                <button >Submit</button>
        </form>
    </body>
</html>